<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="appName"
                    source="spring.application.name" defaultValue="api-gateway"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>trace_id</includeMdcKeyName>
            <includeMdcKeyName>span_id</includeMdcKeyName>
            <includeMdcKeyName>trace_flags</includeMdcKeyName>
            <customFields>{"service":"${appName}"}</customFields>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSZZ</timestampPattern>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerCause>20</maxDepthPerCause>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
    </root>

    <logger name="com.netflix.discovery" level="WARN"/>
    <logger name="org.springframework.cloud.netflix.eureka" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>

</configuration>
